<section>
  <h2>Cria sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-psw">
      Digite uma senha
    </label>
    <input type="password" id="room-psw" name="password"
      placeholder="Digite uma senha"
    />
    <button>
      <img src="/assets/users-white.svg" alt="Criar sala">
      Criar Sala
    </button>
  </form>
</section>
