<h1>Senha Incorreta</h1>
<button class="voltar" 
  style="width: 240px"
  onClick="history.back()"  
  onClick="location.replace('/room/<%= room %>')"
  >
  <img src="/assets/back.svg" alt="Voltar">
  Voltar
</button>

<!-- 
  outra maneira: onClick="history.back()" 
-->
